@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Carrois+Gothic+SC&family=Delius+Swash+Caps&family=League+Spartan:wght@100..900&family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
.dropdown {
    position: fixed;
    display: block;
    z-index: 4;
    width: 100%;
    height: 15rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}
*/
.dropdown {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 15rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.dropdown img {
    width: 100%;
    height: 95%;
    grid-column-start: 4;
    object-fit: cover;
}

.dropdown > a {
    cursor: pointer;
    text-decoration: none;

    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    color: #c7464e;
}

.dropdown > a:hover {
    color: #94161B;
}

.dropdown ul li {
    cursor: pointer;
    display: block;
}

.dropdown ul li a {
    text-decoration: none;

    font-size: .8rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #c7464e;

    transition: 
        color 200ms ease-in-out,
}

.dropdown ul li a:hover {
    color: #94161B;
}