:root {
    --promo-height: 36px;
    --header-height: 12vh;
}

#promo {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--promo-height); /* Sets the #promo element's height to the value of the CSS custom property --promo-height defined at :root */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: #c64b50;
    border-bottom: 1px solid rgba(198,75,80,1);
}

#header {
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    background-color: transparent;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;

    transition: 
    box-shadow 300ms ease-in-out,
    border-bottom 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

#header:hover {
    border-bottom: 0;
    background-color: #FFFFFF;
}

#header nav {
    display: flex;
}

#header nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    gap: 1.7rem;
}

#header ul > li {
    display: inline-block;
}

#header nav ul li a {
    position: relative;
    text-decoration: none;
    user-select: none;

    font-size: 1rem;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    transition: scale 300ms ease-in-out;
}

#header nav ul li a:hover {
    color: #94161B;
}

#header nav ul li a::before {
    content: '';     
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #C64B50;
    transition: 0.3s;
}

#header nav ul li a:hover::before {
    width: 100%;
}

#header p {
    margin-right: 1rem;
}

#header p > * {
    margin: 0.6rem;
}

#header > p > button {
    background: none;
    border: none;
    cursor: pointer;
    transition: scale 200ms ease-in-out
}

#header > p > button:hover {
    scale: 1.2;
}

.headerShowPromo {
    top: var(--promo-height);
}

/* BUTTONS */

.promoBtn {
    margin: 0 2rem;
    cursor: pointer;
}

.navHover {
    color: #c64b50;
}

.nav {
    color: #FFFF
}

.navBtn {
    transition: 
        scale 170ms ease-in-out,
        color 300ms ease-in-out
}

.navBtn:hover {
    scale: 1.2;
    color: #94161b;
}

/* BUTTONS */

.navPlaceHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}