.header nav ul li {
    display: inline;
    margin-left: 2rem;
}

/* NAV LINKS */
.navItem {
    color: #c64b50;
    text-decoration: none;
    position: relative;
    display: inline-block;

    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    transition:
        color 200ms ease-in-out,
        font-weight 200ms ease-in-out;
}

.navItem:hover {
    font-weight: 400;
    color: #94161b;
}

.navItem::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #c64b50;
    transition: 0.3s;
}

.navItem:hover::before {
    width: 100%;
}
