@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=League+Spartan:wght@100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

#promo {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    align-items: center;
}

#promo p {
    color: #C64B50;
    margin-right: 1rem;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #C64B50 solid 1px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    transition: 
    background-color 300ms ease-in-out,
    border-bottom 300ms ease-in-out,
    padding-bottom 300ms ease-in-out;
}

header:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 0;
    padding-bottom: .18rem;
}

header nav {
    display: flex;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    gap: 3rem;
}

header ul > li {
    display: inline-block;
}

header nav ul li a {
    position: relative;

    font-size: 1.2rem;
    color: #C64B50;
    text-decoration: none;

    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    transition: scale 300ms ease-in-out;
}

header nav ul li a::before {
    content: '';     
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #C64B50;
    transition: 0.3s;
}

header nav ul li a:hover::before {
    width: 100%;
}

header p {
    margin-right: 1rem;
}

header p > * {
    margin: 0.6rem;
}

header > p > button {
    background: none;
    border: none;
    cursor: pointer;
    transition: scale 200ms ease-in-out
}

header > p > button:hover {
    scale: 1.2;
}

/* HEADER */

/* CAROUSEL */

.carousel {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    aspect-ratio: 10 / 6;
}

.img-slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-slider-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 550ms ease-in-out
}

.img-slider-dot-container {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: .50rem;
}

.img-slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}

.img-slider-btn > * {
    stroke: #C64B50;
    fill: transparent;
    width: 2rem;
    height: 2rem;

    transition: scale 200ms ease-in-out;
}

.img-slider-btn > *:hover {
    scale: 1.2;
}

.img-slider-dot-btn {
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 200ms ease-in-out
}

.img-slider-dot-btn:hover {
    scale: 1.2;
}

.img-slider-dot-btn > * {
    stroke: #C64B50;
    fill: transparent;
    height: 100%;
    width: 100%;
}

.carousel-shop-now-btn {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    translate: -50%;

    background: transparent;
    border: .3rem solid white;
    padding: .8rem;

    font-size: 1rem;
    color: white;

    cursor: pointer;
    transition: scale 200ms ease-in-out
}

.carousel-shop-now-btn:hover {
    scale: 1.1;
}

/* CAROUSEL */

/* CART MODAL */

.cart-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;

    position: absolute;
    left: 75%;

    border-radius: 0;
    border-left: #C64B50 solid 2px;
    margin: 0;
    padding: 0;

    max-height: 100vh;
    height: 100%;
    width: 25%;

    background-color: white;
}

.cart-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.cart-modal[open] {
    animation: open-cart 0.40s ease-in-out;
}

body:has(.cart-modal[open]) {
    overflow: hidden;

}

.cart-modal > form > button {
    padding: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    border: none;
    background: none;
    width: 2.5rem;
    height: 2.5rem;
}

.cart-modal > form > button > * {
    stroke: #C64B50;
    width: 100%;
    height: 100%;
}

/* CART MODAL */

@keyframes open-cart {

  0% {
    transform: translateX(90%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }

}