* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

#promo {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    align-items: center;
}

#promo p {
    color: #C64B50;
    margin-right: 1rem;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #C64B50 solid 1px;
}

#header nav {
    display: flex;
}

#header nav ul {
    width: auto;
    list-style: none;

    display: flex;
    gap: 3rem;
}

#header ul > li {
    display: inline-block;
}

#header p {
    margin-right: 1rem;
}

#header p > * {
    margin: 0.6rem;
}