*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

#promo {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    align-items: center;
}

#promo p {
    color: #C64B50;
    margin-right: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #C64B50 solid 1px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header nav {
    display: flex;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    gap: 3rem;
}

header ul > li {
    display: inline-block;
}

header nav ul a {
    font-size: 1.2rem;
    color: #C64B50;
    text-decoration: none;
}

header nav ul a:hover {
    font-weight: bold;
}

header p {
    margin-right: 1rem;
}

header p > * {
    margin: 0.6rem;
}

/* CAROUSEL */

.img-slider-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out
}

.image-slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}

.image-slider-btn > * {
    stroke: #C64B50;
    fill: transparent;
    width: 2rem;
    height: 2rem;
}

.img-slider-dot-btn {
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out
}

.img-slider-dot-btn:hover {
    scale: 1.2;
}

.img-slider-dot-btn > * {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

/* CAROUSEL */